html {background-color: black}

#rect1{
    background-color: rgb(255, 255, 255);
    height: 12.5vh;
    width: 0.7vw;
    position: absolute;
    left: 15vw;
    top: 50vh;
}

#rect2{
    background-color: rgb(255, 255, 255);
    height: 12.5vh;
    width: 0.7vw;
    position: absolute;
    left: 85vw;
    top: 50vh;
}

#ball{
    background-color: white;
    height: 2.655vh;
    width: 0.84375vw;
    position: absolute;
    left: 50vw;
    top: 50vh;
}

#middleLine{
    border: none;
    border-left: 0.5vw dashed white;
    position: absolute;
    right: 50vw;
    height: 100vh;
    width: 0.5vw;
}

#limitTop{
    background-color: white;
    width: 100vw;
    height: 1vh;
    position: absolute;
    top: 13.7vh;
}

#limitBottom{
    background-color: white;
    width: 100vw;
    height: 1vh;
    position: absolute;
    top: 92.2vh;
}

#p1point{
    color: white;
    font-size: 3.5vw;
    position: absolute;
    left: 30vw;
    top: -3vh;
    font-family: "OCR A Std", "DejaVu Sans Mono", monospace;
}

#p2point{
    color: white;
    font-size: 3.5vw;
    position: absolute;
    font-family: "OCR A Std", "DejaVu Sans Mono", monospace;
    right: 30vw;
    top: -3vh;
}