html {background-color: black}

#rect1{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 20px;
    position: absolute;
    left: 250px;
    top: 440px;
}

#rect2{
    background-color: rgb(255, 255, 255);
    height: 100px;
    width: 20px;
    position: absolute;
    left: 1550px;
    top: 440px;
}

#ball{
    background-color: white;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 900px;
    top: 440px;
}

#middleLine{
    border: none;
    border-left: 10px dashed white;
    position: absolute;
    top: 100px;
    left: 900px;
    height: 700px;
    width: 30px;
}

#limitTop{
    background-color: white;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 100px;
}

#limitBottom{
    background-color: white;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 800px;
}

#p1point{
    color: white;
    font-size: 4rem;
    position: absolute;
    left: 575px;
    top: -40px;
    font-family: "OCR A Std", "DejaVu Sans Mono", monospace;
}

#p2point{
    color: white;
    font-size: 4rem;
    position: absolute;
    font-family: "OCR A Std", "DejaVu Sans Mono", monospace;
    left: 1225px;
    top: -40px;
}